.chara{
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/images/charaBg01.avif);
    background-repeat: no-repeat;
        background-size: cover;
}
.charaBg {
    width: 100%;
    height: 80%;
    margin-top: 10%;
    padding: 5%;

    h2 {
        writing-mode: vertical-rl;
        color: #5BFFE2;
        text-shadow: 0 4px 6.5px rgba(0, 0, 0, 0.55), 0 4px 7.2px #FDFFFF;
        font-family: Orbitron;
        font-size: 64px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

        position: absolute;
        right: 55%;

    }

    .Characters {
        position: relative;
        


        .Chara{
            width: 400px;
            position: absolute;
            bottom: 5px;
            left: 10%;


            .Chara01{
                height: 750px;
                width: auto;
                position: absolute;
                bottom: 20%;
                left: 17%;
            }
        }

        .Character {
            display: flex;
            justify-content: right;
            height: 100%;
            margin-top: 5%;
            // margin-right: 25%;



            .Ch1 {
                width: 500px;
                height: 20%;
                display: flex;
                flex-direction: column;

                h3 {
                    color: white;
                    font-size: 3.5rem;
                    font-weight: 600;
                }

                .charaItem01 {
                    width: 100%;
                }

                p {
                    padding: 5%;
                    width: 100%;
                    color: white;
                }
            }
        }
    }
}