.newsContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.newsContainer {
    width: auto;
    .newsItem {
        display: flex;
        justify-content: right;
        align-items: center;
        width: auto;
        padding: 20px;
        border-top: 1px solid #BEBEBE;

        .newsHeader {
            width: 25%;
            color: #BCE9B1;
        }

        .newsTitle {
            width: auto;
            font-weight: 600;
            font-size: 1.2rem;
            margin: 1rem 4rem;
            color: #BEBEBE;
        }

        .newsDate {
            font-size: 0.8rem;
        }

        .eventDate {
            width: auto;
            text-align: center;
            color: #04E8C0;
        }
    }
}